@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');
body {
    font-family: 'Quattrocento Sans', sans-serif;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: floralwhite;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 97vh;
}

.logo {
    text-align: center;
}

.footer {
    background: black;
    color: floralwhite;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid floralwhite;
    border-radius: 5px;
}

.resultView {
    display: flex;
    flex-direction: column;
}

.result-summary,
.result-detail {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-bottom: 20px;
}

.back-btn,
.change-unit-btn {
    margin: 10px 0;
}

.summary {
    padding: 0 15px 0 0;
}

.result-container {
    padding: 20px;
    border: 1px solid floralwhite;
    border-radius: 5px;
}